{% extends "base.html" %}
{% block content %}
    <table>
        {% for r in result %}
        <tr>
            <td>{{ r.name }}</td>
            <td>
                <div id="content" quant="{{ r.quantity }}"></div>
            </td>
        </tr>
        {% endfor %}
   </table>
   
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script type="text/jsx">

  /*** @jsx React.DOM */

  var quantityDisplay = React.createClass({
    render: function() {
      return ( <h2> Quantity: {this.props.quant} </h2>);
    }
  });

  ReactDOM.render(
    React.createElement(quantityDisplay, null),
    document.getElementById('content')
  );

</script>
{% endblock %}